<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>This is the web page for all the users list</h1>
    <% users.forEach((user)=>{ %>
    <a href="/users/<%= user._id %>"><%= user.name %></a>
    <h3><%= user.bio %></h3>

    <% }) %>
  </body>
</html>
