<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=width , initial-scale=value " />
    <title>Documnets</title>
  </head>
  <body>
    <main>
      <h1>Single user details by its id</h1>
      <h2><%= user.name %></h2>
      <h2><%= user.age%></h2>
      <a href="/users/<%= user.id %>/edit">Edit</a>
    </main>
  </body>
</html>
